<div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Cateogory Name</th>
                    <th>Action</th>
                    
                </tr>
                </thead>
                <tbody>
                <%Tab.find_by(id: params[:tab_id]).columns.keys.each do |key|%>
                  <tr>
                    <td><%= key.camelize%></td>
                    <td><%= link_to "hit", admin_dashboard_get_tab_value_path(tab_id: params[:tab_id], table_name: key) %></td>
                  </tr>
                </tbody>
                <% end %>
              </table>
    <div class="custom-pagination pull-right">
    </div>
            </div>