      <!-- Small boxes (Stat box) -->
     <div class="center">
       
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3></h3>

              <p>Create Category</p>
            </div>
            <div class="icon">
            </div>
            <a href="/admin/categories/new" class="small-box-footer">
               <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->
        
        <!-- ./col -->
        
        <!-- ./col -->
      </div>
      <!-- /.row -->



            <!-- Small boxes (Stat box) -->
      <div class="row">
       
        <!-- ./col -->
        
        <!-- ./col -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3></h3>

              <p>HR Users</p>
            </div>
            <div class="icon">
            </div>
            <a href="/admin/admin_users" class="small-box-footer">
               <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->
        
        <!-- ./col -->
      </div>
      <!-- /.row -->


            <!-- Small boxes (Stat box) -->
      <div class="row">
       
        <!-- ./col -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3></h3>

              <p>View Categories</p>
            </div>
            <div class="icon">
            </div>
            <a href="/admin/categories" class="small-box-footer">
               <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->

     </div>

<style type="text/css">
  
</style>