 <table class="table table-bordered table-hover">
				<thead>
				<tr>
				<th>Columns Name</th>
				<th>Create</th>
			  <th>Compulsary</th>
					<!-- <th>Territory</th> -->
				</tr>
				</thead>
				<tbody>
			<% @column_names.each do |tab|%>
	    	<tr>
			<td><%= tab%></td>
		</tr>

		<%end%>
  </tbody>
</table>