 
 <table class="table table-bordered table-hover">
				<thead>
				<tr>
				<th>Columns Name</th>
				<th>Create</th>
			    <th>Compulsary</th>
					<!-- <th>Territory</th> -->
				</tr>
				</thead>
				<tbody>
			<% @column_names.each do |tab|%>
	    	<tr>
			<td><%= tab%></td>
			<td><input type="checkbox" name="tab[column_names[create]][]" value="<%=tab%>" class="create-col"></td>
			<td><input type="checkbox" name="tab[column_names[compulsary]][]" value="<%=tab%>" class="com-col"></td>
		</tr>

		<%end%>
  </tbody>
</table>