/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-jvectormap-1.2.2
 *= require slider
 *= require bootstrap3-wysihtml5
 *= require fullcalendar
 *= require bootstrap-timepicker
 *= require morris
 *= require daterangepicker-bs3
 *= require bootstrap-colorpicker
 *= require datepicker3
 *= require bootstrap.min
 *= require toastr.min
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE/AdminLTE";
@import "AdminLTE/skins/skin-blue";

.error{
	color: red;
}

.float-inline-end{
	float: inline-end;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #4b8cc0;
    /*width: 108px;*/
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    height: 28px;
}
input[type="file"] {
    display: block;
    width: 221px;
}
element.style {
    width: 200px;
}