<!DOCTYPE html>
<html>
  <head>
    <title>Webdeo</title>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
